body {

    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    align-content: center;
}

.container{

    width: 500px;
    height: 625px;
    padding: 5%;
    justify-content: center;
    margin: auto;
}

.heading {

    width: 500px;
    height: 120px;
}

.title {

    color: rgb(86, 86, 86);
    font-weight: bold;
    margin: 0;
    width: 50%;
    font-size: 32px;
    float: left;
}

.scores-container {

    width: 50%;
    margin: 20px;
    display: flex;
}

.scores-nums {

    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.score-c {

    background-color: rgb(137, 119, 119);
    color: white;
    width: 50%;
}

.pregame-container {

    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#play-pause {

    background-color: orange;
    color: black;
    margin: 20px;
    width: 50%;
}

#next-tile_button {

    background-color: rgb(137, 119, 119);
    color: white;
    margin: 20px;
    width: 50%;
}

.next-tile {

    margin: 20px;
    width: 50%;
}

.button {

    border: 1px solid rgb(115, 104, 104);
    font-weight: bold;
    font-size: 10px;
    height: 60px;
    line-height: 0px;
    text-align: center;
    margin: 5px;
}

.radiobutton {

    font-weight: bold;
    text-align: center;
}

.tetris_num {

    text-align: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 2px;
}

.tablero{

    background-color: rgb(190 179 179);
    width: 400px;
    height: 420px;
    padding: 10%;
    border: black;
    display: inline-flex;
    flex-flow: column;
    margin: auto;
}

.container-casillas{
    background-color: rgb(137, 119, 119);
    width: 400px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: auto;
}

.casilla{

    border: 1px solid rgb(78 75 75);
    background-color: rgb(163, 150, 150);
    color: white;
    font-weight: bold;
    font-size: 65px;
    width: 250px;
    height: 80px;
    text-align: center;
    margin: 5px;

    /*position: absolute;
    anim*/
}

.f2 {
    background-color: rgb(213, 175, 126);
}

.f4 {
    background-color:rgb(91, 131, 187);
}

.f8 {
    background-color:rgb(136, 91, 187);
}

.f16 {
    background-color:rgb(138, 182, 42);
}

.f32 {
    background-color:rgb(182, 42, 131);
}

.f64 {
    background-color:rgb(42, 154, 182);
}

.f128 {
    background-color:rgb(188, 100, 5);
}

.f256 {
    background-color:rgb(189, 95, 103);
}

.f512 {
    background-color:rgb(182, 152, 42);
}

.f1024 {
    background-color:rgb(42, 182, 147);
}

.f2048 {
    background-color:rgb(182, 42, 42);
}

#instructions {
    position: relative;
    float: left;
}