* {

    background-color: rgb(230, 220, 200);
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

}

#game__title {

    color: rgb(62, 62, 62);
    margin: 5px;
    padding: 5%;
}

.radiobuttons {

    margin: 5px;
    padding: 5%;

}